/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* .user-data{
    height: 100%;
    width: 60%;
    background-color: cyan;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.result-data{
    height: 100%;
    width: 40%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
} */

#qrcode {
    margin-top:50px;
  }
img{
    width: 350px;
    height: 350px;
    /* border: 10px solid red; */
    filter: brightness(10);
}